<!doctype html>
<html ng-app="myApp">
  <head>
		  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
      <script src="app.js"></script>
  </head>
  <body>
      <div>

          <div ng-controller="FirstCtrl">
              <input type="text" ng-model="data.message">
              <h1>{{ data.message }}</h1>
          </div>

          <div ng-controller="SecondCtrl">
              <input type="text" ng-model="data.message">
              <h1>{{ data.message | reverse }}</h1>
          </div>
      </div>
  </body>
</html>
